body {
    font-family: 'Arial', sans-serif;
    background-color: #b22222; /* Fundo vermelho */
    color: #fff; /* Cor do texto principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Esconde corações fora da tela */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    width: 100%;
    color: #333; /* Cor do texto dentro do container */
    position: relative;
    z-index: 1;
}

h1 {
    color: #9b061f;
    margin-bottom: 10px;
    font-size: 2.5em;
}

h2 {
    color: #9b061f;
    margin-bottom: 20px;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    margin: 0;
    color: #9b061f;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.photo-gallery img {
    border-radius: 10px;
    margin: 10px;
    max-width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}

.quote {
    background-color: #990202;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.3em;
    line-height: 1.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote p {
    margin: 0;
}

.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.hearts::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('coração.png') no-repeat;
    background-size: 20px 20px;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}